<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div id="footer">
                <img src="/assets/industrial-skyline.png" class="img-responsive" width="100%" alt="Footer Image" />
            </div>
        </div>
    </form>
</body>
</html> 