<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

    <button class="navbtn" (click)="ssClr()" routerLink="/"><i class="fa fa-home"></i></button>
    <button class="navbtn" (click)="ssClr()" routerLink="/stations">Stations</button>
    <button class="navbtn" (click)="ssClr()" routerLink="/data">Data</button>
    <button class="navbtn" (click)="ssClr()" routerLink="/display">Display</button>
    <button class="navbtn" (click)="ssClr()" routerLink="/calculations">Calculations</button>


</body>
