<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-list-item href="#" routerLink="/">Home</a>
    <span class="spacer"></span>
    <span>NCEI Weather Data Retrieval</span>
    <span class="spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <dev mat-list-item href="#" routerLink="stations"><b>Stations</b></dev>
    <dev mat-list-item href="#" routerLink="data"><b>Data Select</b></dev>
    <dev mat-list-item href="#" routerLink="display"><b>Display Data</b></dev>
  </mat-toolbar-row>
</mat-toolbar>
