<!DOCTYPE html>
<html lang="en">
<body>
    <!-- <div class="center" style="margin-top:100px;">
        <button class="button button1" (click)="getStations()"><b>Get Stations</b></button>
    </div> -->

    <div class="center" style="margin-top:0px;">
        <h1><b>Stations in Area</b></h1>
    </div>
    <div id="scrollable-area">
        <table fixed-table-headers="scrollable-area">

            <tr>
                <th *ngFor = "let column of headers">
                    {{column}}
                </th>
            </tr>

            <tr *ngFor = "let row of stationsArray">
                <label><td class="center"><input type="checkbox" id="{{row.ID}}" (change)="getSelect($event, row.ID)"></td></label>
                <td class="rows"><label for="{{row.ID}}">{{row.ID}}</label></td>
                <td class="rows"><label for="{{row.ID}}">{{row.NAME}}</label></td>
                <td class="rows"><label for="{{row.ID}}">{{row.OTHER}}</label></td>
            </tr>

        </table>
    </div>
    <div class="center">
        <button class="button button1" (click)="goBack()" ><b>Back</b></button>

        <button class="button button1" (click)="sendToData()"><b>Display Data</b></button>
    </div>
    <img src= "/assets/industrial-skyline.png" class="footer"/>
</body>

</html>
