<!-- Displaying Data from NCEI Data Pull -->

<div class="right">
    <button class="button button1" (click)="downloadCSV()">Download as CSV</button>
    <button class="button button1" value="Download JSON" (click)="exportTojson()">Download as JSON</button>
</div>
<div class="center" style="margin-top:0px;">
    <header>
        <b>Preview Data</b>
    </header>
</div>


<div class="tableParent">
    <!-- TODO: Figure out something for potential tab overflow here -->
    <div class="tabs" *ngFor="let id of stationID">
      <div class="tab" (click)=changeStation(id) id={{id}}><label for={{id}}>{{id}}</label></div>
    </div>

    <div id="scrollable-area">

        <!-- Display Loading Circle -->
        <div class="loading" *ngIf="isLoading" >
            <!-- Hourglass Loading Spinner -->
            <div class="cell">
                <div class="pl pl-hourglass"></div>
                <div class="pl-name">Compiling your Data...This May Take Several Minutes</div>
            </div>
        </div>

        <table class="table" *ngIf="!isLoading">

         <!-- Display Headers -->
            <th *ngFor = "let row of headers">
                {{row}}
            </th>
            <tr class="empty_rate">
              <td colspan="7" *ngIf="years>0" id="empty_rate_text">Empty Data Rate</td>
              <td *ngFor = "let row of headersStats[displayIndex]">{{row['EMPTY']}} of {{row['TOTAL']}}: {{row['RATE']}}%</td>
            </tr>

            <!-- Display Data -->
            <tr *ngFor = "let row of displayObj[displayIndex] | paginate: config">
                <td *ngFor = "let column of row" class="rows">{{ column }}</td>
            </tr>
        </table>
    </div>
  </div>
  <div class ="left">
    <button class="button button1" (click)="goBack()" ><b>Back</b></button>
  </div>
  <div class="center">
    <select name="pagingValue" #pagingValue id="pagingValue" (change)="onChange($event)">
          <option value="10">10 per page</option>
          <option value="25">25 per page</option>
          <option value="50">50 per page</option>
          <option value="100">100 per page</option>
    </select>
    <pagination-controls
      [maxSize]="maxSize"
      [directionLinks]="directionLinks"
      [autoHide]="autoHide"
      [responsive]="responsive"
      [previousLabel]="labels.previousLabel"
      [nextLabel]="labels.nextLabel"
      [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
      [screenReaderPageLabel]="labels.screenReaderPageLabel"
      [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
      (pageChange)="pageChanged($event)">
    </pagination-controls>
</div>
<div class="center">
    <img src= "assets/industrial-skyline-2.png" class="footer"/>
</div>
