<!-- Displaying Data from NCEI Data Pull -->

<div class="right">
    <button class="button button1" (click)="downloadCSV()">Download as CSV</button>
    <!-- <button class="button button1">Download as JSON</button> -->
</div>
<h1>Preview Data</h1>

<div id="scrollable-area">
    
    <!-- Display Loading Circle -->
    <div class="loading" *ngIf="isLoading" >
        <div class="circle"></div>
    </div>

    <table class="table" *ngIf="!isLoading">
    
     <!-- Display Headers -->
        <th *ngFor = "let row of headers">
            {{row}}
        </th>
    
        <!-- Display Data -->
        <tr *ngFor = "let row of displayObj">
            <td *ngFor = "let column of row" class="rows">{{ column }}</td>
        </tr>
    </table>
</div>