<!DOCTYPE html>
<html lang="en">


    <div class="center" style="margin-top:0px;">
        <h1><b>Available Data Types for Selection</b></h1>
    </div>

    <div class="tableParent">
      <div id="scrollable-area">

        <!-- Display Loading Circle -->
        <div class="loading" *ngIf="isLoading" >
            <!-- Hourglass Loading Spinner -->
            <div class="cell">
                <div class="pl pl-hourglass"></div>
                <div class="pl-name">Checking for Available Data Types...</div>
            </div>
        </div>

          <table *ngIf="!isLoading">

                  <th *ngIf="dispHeaders">
                      <label class="center"><input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                      (change)="checkUncheckAll()"></label>
                  </th>
                  <th *ngIf="dispHeaders">Type</th>
                  <th *ngIf="dispHeaders">Description</th>


              <tr *ngFor="let item of displayList">
                  <label class="rows"><td class="center"><input type="checkbox" id="{{item.id}}" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
                      (change)="isAllSelected()"></td></label>
                      <label class="rows" for="{{item.id}}"><td class="rows">{{item.value}}</td></label>
                      <label class="rows" for="{{item.id}}"><td class="rows">{{item.title}}</td></label>
              </tr>
          </table>
      </div>
    </div>
    <div class="center">
        <button class="button button1" (click)="goBack()" ><b>Back</b></button>

        <button class="button button1" (click)="sendToDisplay()"><b>Display Data</b></button>
    </div>


    <img src= "assets/industrial-skyline-2.png" class="footer"/>


</html>
