

h1{
    text-align: center;
    color: #2b376b;
    font-size: 30px;
    font-family: 'Lato', sans-serif;

}

.center { /* centering */
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;

    cursor: pointer;
    margin-top: 10px;
    width: 10%;
    min-width: 100px;
    z-index: 1;

  }

  .button1 {
    border-radius: 60px;
    background-color: #587656;
    z-index: 1;
    margin-right: 20px;
  }


.button:hover {
    background-color: #839c7c;
}

table{
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: white;
  z-index: 1;
  }

td{
    padding: 8px;
    align-content: center;
    text-align: left;
}

th{
    padding:8px;
    text-align: left;
    align-content: center;
    background-color: #5a7255;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 17;
    z-index: 1;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:nth-child(odd){
    background-color: #dbdada;
  }

tr:hover{
    background-color: #839c7c;
}

label {
  display: block;
  min-height: 100%;
  padding: 8px;
}

#scrollable-area {
  margin: auto;
  min-height: 100px;
  max-height: 400px;
  width: 80%;
  height: auto;
  border: 2px solid #2b376b;
  overflow-y: scroll;
  border-radius: 8px;
  background: white;
}

.footer {
    height: auto;
    width:100%;
    bottom:0;
    position:fixed;
    z-index: -1;
}

@media screen and (max-height: 650px) {

    .footer {display:none;}
}

.right { /* right side align */
    display: flex;
    justify-content: right;
    height: 75px;
    margin-right: 12.5%;
    margin-top: 25px;
  }

  #scrollable-area::-webkit-scrollbar {
    width: 9px;   /* width of the entire scrollbar */
    height: 9px;
  }
  #scrollable-area::-webkit-scrollbar-corner{
    background: none;
    border-bottom-right-radius: 20px;
  }
  #scrollable-area::-webkit-scrollbar-track {
  
    border-radius: 50px;
    border: double black 1px;
  }
  
  #scrollable-area::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179); 
    border-radius: 20px;
    border: 1px solid black;
  
  }
