
body{ /* overall default styling for this page */
    color: #2c386b;
    font-size: 23px;

}



.startDate{ /* styling for start date button */
    margin-right: 50px;
    padding:10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius:9px;
    border: 1.5px solid #587656;
    color: #2c386b;
    justify-content: center;
    font-size: 17.4px;
    text-align: center;
    margin-top: 3px;
    width: 200px;
}

.endDate{ /* styling for end date button */
    margin-left: 50px;
    padding:10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius:9px;
    border: 1.5px solid #587656;
    color: #2c386b;
    justify-content: center;
    font-size: 17.4px;
    text-align: center;
    margin-top: 3px;
    width: 200px;
    
}

.labelStartDate{ /* margin for start date label */
    margin-right: 110px;
    margin-left: 53px;
}

.labelEndDate{ /* margin for end date label */
    margin-left: 113px;
    margin-right: 40px;
}

.zip { /* zip code and distance input boxes stling and padding */
    width: 220px;
    padding:10px;
    border-radius:9px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1.5px solid #587656;
    color: #2c386b;
    justify-content: center;
    font-size: 17.4px;
    text-align: center;
    margin-top: 5px;
}



.button { /* default button */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    
}


  
.center { /* centering */
    display: flex;
    justify-content: center;
}

.button1 { /* color and styling of station select button */
    border-radius: 60px; 
    background-color: #587656;
} 


.button:hover { /* change color on station select button hover */
    background-color: #839c7c;
}

/* Remove annoying blue highlight when input box selected */
input:focus {
        outline: black;
    }

input[type="date"]{

    padding:10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius:9px;
    border: 1.5px solid #587656;
    color: #2c386b;
    justify-content: center;
    font-size: 17.4px;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

::-webkit-calendar-picker-indicator{
    color: #2c386b;
    cursor: pointer;
}

select {
    width: 240px;
    padding:10px;
    border-radius:9px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1.5px solid #587656;
    color: #2c386b;
    justify-content: center;
    font-size: 17.4px;
    text-align: center;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background: url("/assets/arrow.png")96% / 6% no-repeat white;
}

select:focus {
    outline: black;
}

.footer {
    height: auto;
    width:100%;
    margin-bottom:0;
    position:absolute;
 }

  
