<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="home.component.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>



  <div class="center" style="margin-top:40px;">
      <label for="ZipCode"><b>Zip Code/Station ID</b></label>
  </div>

  <div class="zipParent">

      <div class="center">
          <input class="zip" name="zipcode" #zipcode id="zipcode" type="text"
          maxlength="23" size=18 (click)="distDropdown=true" (keyup)="checkInput()" (keyup.enter)="acceptVariables()" autocomplete="none">
      </div>

      <div class="center">
        <div id="scrollable-area" *ngIf="matchList.length>0 && zipcode.value.toString().length>=4 && !matchList.includes(zipcode.value.toString()) && distDropdown">
            <table fixed-table-headers="scrollable-area">
                <tr *ngFor = "let entry of matchList">
                    <td class="rows" (click)=setCity(entry)><label class="distLabel" for="{{entry}}">{{entry}}</label></td>
                </tr>
            </table>
        </div>
      </div>

      <!-- Display potential errors regarding input data to user -->
      <div *ngIf="isError" class="zipError">
        {{ zError }}
      </div>

      <div class="center" style="margin-top:80px;">
        <label for="Distance"><b>Distance (miles)</b></label>
      </div>

      <div class="center">
        <label class = select>
        <select name="distance" #distance id="distance">
          <option value=" ">Select Distance</option>
            <option value="10">10 miles</option>
            <option value="25">25 miles</option>
            <option value="50">50 miles</option>
            <option value="100">100 miles</option>
        </select>
      </label>
      </div>

  </div>




  <div *ngIf="isError" class="alert center">
    {{ dError }}
  </div>


  <div class="center" style="margin-top:80px;">
    <label class='labelStartDate'>
      <b>Start Date</b>
    </label>

    <label class='labelEndDate'>
      <b>End Date</b>
    </label>
  </div>

  <div class="center">
    <input class='startDate' #startdate type="date" id="start-date" name="start-date" style="width: 200px;">
    <div *ngIf="isError" class="alert center">
      {{ sError }}
    </div>

    <input class='endDate' #enddate type="date" id="end-date" name="end-date" style="width: 200px;">
    <div *ngIf="isError" class="alert center">
      {{ eError }}
    </div>
  </div>
  <div class="center" style="margin-top: 100px;">
        <button class="button button1" (click)="acceptVariables()" ><b>Station Select</b></button>
  </div>
  <div *ngIf="errors" class="alert center">
    {{ errors }}
  </div>
  <div *ngIf="stationsError" class="alert center">
    {{ stationsError }}
  </div>
  <img src= "/assets/industrial-skyline.png" class="footer"/>
</body>
