<!DOCTYPE html>
<html lang="en">
<body>

  <div class="center" style="width:800px; margin:0 auto;">
  </div>

  <div class="center" style="margin-top:0px;">
      <label for="ZipCode"><b>Zip Code/Station ID</b></label>
  </div>

  <div class="center">
      <input class="zip" name="zipcode" #zipcode id="zipcode" type="text"
      maxlength="11" size=18 (cut)="checkInput()" (paste)="checkInput()" (keyup)="checkInput()" (keyup.enter)="getCoords(zipcode.value)"> <!-- BUG: Cut/Paste event listeners don't work -->
  </div>

  <div class="center" style="margin-top:50px;">
    <label for="Distance"><b>Distance (miles)</b></label>
  </div>

  <div class="center">
    <input class="zip" name="distance" #distance id="distance">
  </div>


  <div class="center" style="margin-top:100px;">
    <label class='labelStartDate'>
      <b>Start Date</b>
    </label>

    <label class='labelEndDate'>
      <b>End Date</b>
    </label>
  </div>

  <div class="center">
    <input class='startDate' #startdate type="date" id="start-date" name="start-date" style="width: 200px;">

    <input class='endDate' #enddate type="date" id="end-date" name="end-date" style="width: 200px;">
  </div>
  <div class="center" style="margin-top: 100px;">
        <button class="button button1" (click)="acceptVariables(zipcode.value, distance.value, startdate.value, enddate.value)" ><b>Station Select</b></button>
  </div>
  <!-- Display potential errors regarding input data to user -->
  <div *ngIf="errors" class="alert alert-danger" class="center">
    {{ errors }}
  </div>


</body>
